.page-header {
	margin-top: 0;
	padding-bottom: 5px;
}

h1 {
	font-size: 30px;
}

h1 small {
	font-size: 18px;
	margin-left: 10px;
}

h2 {
	border-left: 10px solid #ddd;
	padding: 8px 16px;
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

.sidebar-nav {
	margin-top: 15px;
}

.sidebar-nav h4 a {
	color: #000;
}

/* footer */

#wrap {
  margin-bottom: -115px;
}

#push, #footer {
  height: 115px;
}
